* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("bg4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.caixa-maior {
    background-color: #000000;
    width: 95%; 
    max-width: 420px; 
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
}

input {
    border: none;/* borda do elemento */
    outline: none;/* borda quando seleciona o elemento */
    padding: 10px;/* espaçamento interno */
    border-radius: 24px;/* arredonda as bordas */
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc( 100% - 100px);
    transition: .5s;
}



button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    float: right;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: white;
}

.caixa-media {
    margin-top: 30px;
}

.caixa-menor {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.caixa-menor p{
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.lupa {
    height: 20px;
}

h2 {
    color: white;
    font-size: 28px; 
}

.temp {
    color: #ffffff;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
}

.descricao {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize; /* Deixa a primeira letra maiuscula*/
}

.umidade {
    color: #ffffff;
    margin-top: 30px;
}